@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: 'Raleway', sans-serif;
}

#barUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#barLI {
    float: left;
    text-align: center;
}

#barLI a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #008ea7;
}

#aboutme{
    text-align: center;
}

a {
    text-decoration: none;
    color: #008ea7;
}

#techbehind {
    text-align: center;
}

.techbehindinfo {
    display:inline-block;
    text-align:left;
}